{
  "extends": "eslint-config-egg",
  "plugins": ["typescript"],
  "rules": {
    "eqeqeq": [
        "error",
        "always",
        {
            "null": "ignore"
        }
    ],
    "typescript/class-name-casing": "error"
  }
}
